body{
	font: 12px/1.3 Arial, sans-serif;
	color: #fff;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
a {
		-moz-transition:color .5s, text-shadow .5s;
	-webkit-transition:color .5s, text-shadow .5s;
	transition:color .5s, text-shadow .5s;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}

/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 960px;
}

.ba-header {
	background: #111 url(../img/header_bg.jpg) 50%;
	background-size: cover;
	text-transform: uppercase;
}
.ba-header nav {
	background: rgba(0,0,0,.5);
}
.ba-header nav:hover a {
	color: transparent;
	text-shadow: 0 0 3px #fff;
}
.ba-header nav:hover a:hover {
	color: #fff;
	text-shadow: none;

}
.ba-menu {
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	list-style: none;
	text-align: center;
	font-size: 0;
}
.ba-menu li {
	display: inline-block;
	font-size: 12px;
}
.ba-menu li a {
	display: block;
	color: #FFF;
	text-decoration: none;
	line-height: 62px;
	padding: 0 15px;
}
.ba-intro {
	text-align: center;
	padding: 40px 200px;
}
.ba-logo {
	display: inline-block;
	background: #82B440;
	padding: 5px;
}
